<div *ngIf="videoUrl">
  <div style="position: relative; width: 100%; height: 100%">
    <video
      #originalVideo
      [src]="safeVideoUrl?.toString()"
      autoplay
      loop
      muted
      playsinline
      height="100%"
      width="100%"
      (loadedmetadata)="triggerDownload()"
      (error)="onVideoError($event)"
      (click)="playVideoIfPaused($event)"></video>
    <video
      *ngIf="overlaySafeVideoUrl"
      #overlayVideo
      [src]="overlaySafeVideoUrl?.toString()"
      autoplay
      loop
      muted
      playsinline
      id="overlayVideo"
      class="overlay-video"></video>
  </div>
</div>
<ng-template #poseTemplate>
  <div class="actions-row">
    <ng-container *ngIf="videoUrl; else loading">
      <ion-button
        class="circle-icon"
        fill="clear"
        shape="round"
        color="dark"
        (click)="downloadTranslation()"
        [attr.aria-label]="'translate.spoken-to-signed.actions.download' | transloco"
        [matTooltip]="'translate.spoken-to-signed.actions.download' | transloco"
        [matTooltipPosition]="'above'">
        <ion-icon name="download-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ng-container *ngIf="isSharingSupported">
        <ion-button
          class="circle-icon"
          fill="clear"
          shape="round"
          color="dark"
          (click)="shareTranslation()"
          [attr.aria-label]="'translate.spoken-to-signed.actions.share' | transloco"
          [matTooltip]="'translate.spoken-to-signed.actions.share' | transloco"
          [matTooltipPosition]="'above'">
          <ion-icon ios="share-outline" md="share-social-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ng-container>
    </ng-container>
    <ng-template #loading>
      <ion-button [disabled]="true" class="circle-icon" fill="clear" shape="round">
        <ion-spinner name="crescent" color="dark"></ion-spinner>
      </ion-button>
    </ng-template>
    <app-viewer-selector></app-viewer-selector>
  </div>
</ng-template>
