@import '../../../../../theme/variables';

:host {
  background-color: white;
  position: relative;
  aspect-ratio: 1;

  @media #{$breakpoint-gt-xs} {
    background-color: #f5f5f5;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #202124;
  }
}

video {
  display: block;
  width: 100%;
}

#overlayVideo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 150px; /* Adjust as needed */
  height: auto;
  z-index: 1000; /* Ensure it is above other elements */
  pointer-events: none; /* Ensure the overlay video doesn't interfere with clicks on the main video */
}
